@import "nosotros.scss";
@import "servicios.scss";
@import "contacto.scss";
@import "index.scss";




*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}




